html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 20px;
  height: 100%;
  background-image: linear-gradient(rgb(240, 240, 255), rgb(187, 211, 252));
  font-family: monospace;
  text-align: center;
  font-size: x-large;
}

h1 {
    color: rgb(240, 240, 255);
    letter-spacing: 0px;
    text-shadow: 0 4px 10px dimgray; 
    text-transform: uppercase;
}

p {
  font-size: 16px;
}

.rules {
  line-height: 1.75;
}

.dns {
  position: fixed;
  width: 100%;
  bottom: 10px;
  right: 0;
  left: 0;
  font-size: 12px;
}

.rotate {
    animation: rotate 12s linear 0s infinite;
    -webkit-animation: rotate 12s linear 0s infinite;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateX(0deg) rotateY(-10deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(-10deg);
    }
  }
