
<head>https://fonts.adobe.com/fonts/moret?as_campaign=a8192&as_camptype=&as_channel=affiliate&as_source=partnerize&clickref=1101lwiBupqL&mv=affiliate&mv2=pz#fonts-section
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
 
body {
    background-color:linear-gradient(to left, #BCD2E8, #D9C4EC );
    opacity: 2.5;
    font-family:Arial, Helvetica, sans-serif;
}


</html> {
    background: linear-gradient(to bottom,to  #ffffeb, #540798 );
}




h1{
     font: size 8px;
     text-decoration-line: underline;
     text-decoration-color: white; initial; inherit;
     <b>bold</b>

}

p {
    font-family: monospace;
    text-align:left;
   
}







