

body {
    /* background-color: aquamarine; */
    height: 3500px;
    background-image: linear-gradient(to bottom right, aqua , purple);
    background-attachment: fixed;
    font-family: Helvetica;
    padding: 20px;
    text-align: right;
    display: block;
    position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 1500px;
}

h1 {
    vertical-align: top;
    Color: whitesmoke;
    text-align:left;
    font-size: 420px;
}

p {
    color: whitesmoke;
    font-family: Helvetica;
    text-align:left;
    font-size: 120px;
    padding: 20px;
}

a {
    color: whites;
    text-align: right;
    text-decoration: none;
    font-family: Helvetica;
    padding: 20px;
    font-size: 75px;
    
}

a:visited {
    color: whitesmoke;
}

a:hover {
    color:aqua;
    text-decoration: underline;                                                                           
}
